<div id="intro" class="container">
  <h1>QUEM SOMOS</h1>
  <p>
    A PGF Brasil foi criada com o propósito de contribuir com a Matriz
    Energética Brasileira de forma sustentável, através da construção de Usinas
    Fotovoltaicas que produz energia limpa, e assim contribuir para o
    desenvolvimento do meio ambiente.
  </p>
</div>
<div
  id="img-container"
  class="container-fluid"
  parallax
  [config]="{ initialValue: -100, ratio: 0.7 }"
></div>
<div class="container">
  <p>
    Somos uma plataforma que promove o desenvolvimento sustentável para inovar
    negócios e renovar mercados.
  </p>
  <p>Excelência em Segurança, Qualidade, Transparência e Credibilidade.</p>

  <h3>
    “Energia nova ao Planeta”
  </h3>
  <p>
    Essa é a transformação que queremos para os próximos anos. Contribuir para
    um Futuro melhor, com menos poluição e degradação do meio ambiente.
  </p>
  <div class="row">
    <div class="col">
      <img
        class="img-fluid rounded"
        src="../../../assets/images/montagem-painel.png"
      />
    </div>
    <div class="col conteudo">
      <h3>
        MISSÃO
      </h3>
      <p>
        Contribuir na renovação e atualização da Matriz Energética Brasileira,
        através de energia renovável, oferecendo benefícios aos investidores, e
        por sua vez aos consumidores, visando sempre à conservação do meio
        ambiente.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col conteudo">
      <h3>
        Visão
      </h3>

      <p>
        Ser referência em montagem de plantas de geração fotovoltaica, tendo
        como referência a atualização dos negócios do setor, bem como no
        desenvolvimento de novas oportunidades, que transformarão as maneiras de
        gerar, armazenar e consumir energia no Brasil.
      </p>
    </div>
    <div class="col">
      <img
        class="img-fluid rounded"
        src="../../../assets/images/paineis-paisagem.png"
      />
    </div>
  </div>

  <h3 id="valores">
    Valores
  </h3>
  <ul class="gradient-list">
    <li>
      Responsabilidade Ambiental;
    </li>
    <li>
      Comprometimento;
    </li>
    <li>
      Ética, transparência e honestidade em suas relações;
    </li>
    <li>
      Segurança e Qualidade;
    </li>
    <li>
      Desenvolvimento Sustentável e Tecnológico;
    </li>
    <li>
      Excelência em Gestão;
    </li>
  </ul>
</div>
